Image_Tagger/data copy
Image_Tagger/saved_models
Image_Tagger/cifar-10-batches-pngs
Image_Tagger/cifar-10-batches-py
convolutional_neural_network_resnet50.png
Logo_Detection/saved_models
data.zip
Logo_Detection/logs
Component_Detection/data_backup
Component_Detection/evaluation
Component_Detection/saved_models
Component_Detection/logs
Component_Classification/evaluation
Component_Classification/saved_models
data_backup
Component_Classification/logs
Component_Classification/saved_models_train_on_imagenet
Component_Classification/saved_models_fine_tuen_resnet50_imagenet
*.h5
